@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
  --colour-1: #B3D2B2;
  --colour-2: #BDE4A7;
  --colour-3: #FFFD98;
  --colour-3-seethrough: #fffd98cf;
  --colour-4: #9FBBCC;
  --colour-5: #7A9CC6;
  --max-width: 1400px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 1;
  position: relative;
  background-color: var(--colour-5);
}

.page {
  background-color: var(--colour-4);
  max-width: var(--max-width)
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-container {
  position: relative;
  z-index: 1;
}

.navbar {
  background-color: var(--colour-1);
  font-family: 'Reem Kufi Fun', sans-serif;
}

.nav-container .container {
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag {
  color: #000000;
  background-color: var(--colour-3);
  border: 2px solid #000000;
}

.btn-hover {
  font-family: 'Reem Kufi Fun', sans-serif !important;
}

.btn-hover:hover {
  color: rgb(255, 255, 255) !important;
  ;
  background-color: var(--colour-5) !important;
  border-color: #ffffffad !important;
  border-width: 2px !important;
  font-family: 'Reem Kufi Fun', sans-serif;
}

.main {
  margin-top: 55px;
  height: 500px;
  background-size: contain;
  position: relative;
  border-bottom: 3px solid var(--colour-1);
}

.main span {
  display: block;
  font-family: 'Reem Kufi Fun', sans-serif;
  text-transform: uppercase;
}

.main .lead {
  font-size: 22px;
}

/* header andy text */
.andyText {
  letter-spacing: 15px;
  stroke: var(--colour-3);
  font-size: 5rem;
  font-weight: 700;
  stroke-width: 2;
  animation: textAnimate 9s infinite alternate;
}


@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: var(--colour-1)
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: var(--colour-1)
  }

}

#projects {
  padding-top: 50px;
}

.overlay {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);   */
  width: 400px !important;
  height: 350px !important;
  margin: 80px;
  border-radius: 30px;
  background-color: var(--colour-5);
  z-index: 1;
  border: 4px solid var(--colour-3);
}

.about-overlay {
  background-color: var(--colour-5);
  border-radius: 5%;
  color: white;
  max-width: 700px;
  position: relative;
  display: block;
  margin: auto;
  padding: 50px;
}

.main h1,
.main p,
.main a {
  color: black;
  text-align: center;
  position: relative;
  z-index: 2;
}

.center-text-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 375px;
  max-width: 400px;
  width: auto;
  height: auto;
  z-index: 2;
}


/* scrolling tags on header */
.bgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bgTagList {
  width: var(--max-width);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 2rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.bgLoopSlider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
  }
}

.bgTag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: var(--colour-3);
  font-size: 0.9rem;
  background-color: var(--colour-1);
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;

  span {
    font-size: 1.2rem;
    color: var(--colour-5);
  }
}

.bgFade {
  pointer-events: none;
  background: linear-gradient(90deg, var(--colour-5), transparent 30%, transparent 70%, var(--colour-5));
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


#about {
  background-repeat: repeat;
  background-size: auto;
}
#about p {
  font-size: 18px;
	line-height: 1.45;
}


#projects h5 {
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  text-decoration: dashed;
}

#projects img {
  height: 280px
}

#projects h2,
#about h2,
#contact h2 {
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
}

.card {
  height: 500px;
}

#contact {
  max-width: 600px;
  display: block;
  margin: auto;
  background-color: var(--colour-3);
  border-radius: 5%;
  z-index: 4 !important;
}

/* this mark code highlight was adapted from jlengstorf on codepen! */

@keyframes highlight {
  0% {
    background-position: 100%;
    color: white;
  }

  100% {
    background-position: 0;
    color: black;
  }
}
mark {
  position: relative;
  display: inline-block;
  background: linear-gradient(to right,
      oklch(97.42% 0.12326000984238611 107.49524977602458/ 1) 50%,
      oklch(97.42% 0.12326000984238611 107.49524977602458 / 0) 50%);
  background-position: 100%;
  background-size: 200% 100%;
  border-radius: 0.125rem;
  padding-inline: 0.125rem;
  color: white;
  animation: highlight 1s linear forwards;
  animation-delay: calc(1.5s * var(--i)); 
}

mark:nth-of-type(1) {
  --i: 1;
}
mark:nth-of-type(2) {
  --i: 2;
}
mark:nth-of-type(3) {
  --i: 3;
}

/* Larger Screens */
@media (min-width: 2180px) {
  .card {
    height: 550px;
  }
}

/* Tablets, small windows */
@media (max-width: 1225px) {
  .main {
    /* background-image: url(./media/mobile-main.png) !important; */
  }
}


/* Mobile screens */
@media (max-width: 905px) {
  .main {
    /* background-image: url(./media/mobile-main.png) !important; */
    background-size: cover;
  }

  .overlay {
    width: 300px;
    height: 300px;
  }
}

/* VIDEO PLAYER */

.video-modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 29, 29, 0.4);
}

.video-modal-content {
  position: relative;
  background-color: #000000;
  padding: 20px;
  border: 1px solid #888;
  max-width: 853px;
  max-height: 500px;
  width: 100%;
}

.video-close {
  position: absolute;
  top: -8px;
  right: 1px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0%;

  z-index: 99;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  /*16:9 aspect ratio*/
  position: relative;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* END OF VIDEO PLAYER */